<h1>Welcome to <em>another</em> page of ours</h1>
<p><strong>Error Code: 6482826482</strong></p>

<h1> Todo List <%= @id %></h1>

<span><%=@message%></span>


<span><%=@list.name%></span>

<a href="/list/edit/<%= @list.id %>">Edit this todo list</a>